<h1>Erro na seleção de data</h1>

<h4>A data informada não está disponivel para consulta, por favor inserir outra data valida.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
       
    </div>
</div>

<div>
    <a asp-action="Create">Retornar a inserção</a>
    <br>
    <br>
    <a asp-action="Index">Retornar ao inicio</a>
</div>


