@model Cotacao

@{
    ViewData["Title"] = "Create";
}

<h1>Inserir</h1>
<br>

<h5> 1 - Sábados e domingos utilizam os valores da Segunda-feira seguinte para fins comerciais, se a proxima segunda do dia escolhido não chegou a data será considerada invalida.</h5>
<br>
<h5> 2 - Datas já inseridas no banco de dados não serão aceitas.</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" type="date" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Inserir" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
