@model Cotacao

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Cotacao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CotacaoId" />
            <div class="form-group">
                <label asp-for="MoedaOrigem" class="control-label"></label>
                <input asp-for="MoedaOrigem" class="form-control" />
                <span asp-validation-for="MoedaOrigem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoedaDestino" class="control-label"></label>
                <input asp-for="MoedaDestino" class="form-control" />
                <span asp-validation-for="MoedaDestino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorCompra" class="control-label"></label>
                <input asp-for="ValorCompra" class="form-control" />
                <span asp-validation-for="ValorCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorVenda" class="control-label"></label>
                <input asp-for="ValorVenda" class="form-control" />
                <span asp-validation-for="ValorVenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataDia" class="control-label"></label>
                <input asp-for="DataDia" class="form-control" />
                <span asp-validation-for="DataDia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataMes" class="control-label"></label>
                <input asp-for="DataMes" class="form-control" />
                <span asp-validation-for="DataMes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataAno" class="control-label"></label>
                <input asp-for="DataAno" class="form-control" />
                <span asp-validation-for="DataAno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
