@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema de gerenciamento de cotações</h1>
    <p>Entre no menu Cotações acima ou abaixo para acessar o sistema</p>

    <br>
    
    <a href="../Cotacao">Entrar no sistema (Clique aqui)</a>
</div>
